@import "../../../variables";

.episode-card {
    @include card_panel;

    .episode-photo {
        width: 291px;
        height: 162.95px;
        @include flex_center;
        background-color: rgb(188, 206, 220);

        img {
            width: 291px;
            height: 162.95px;
        }
    }

    .episode-info {
        max-width: 275px;
        height: 90px;
        box-sizing: border-box;
        padding: 8px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 8px;

        .name {
            text-align: center;
        }
    }
}