@import "../../../variables";

.episode-card {
    @include card_panel;

    .episode-image {
        width: 291px;
        height: 162.95px;
    }

    .episode-info {
        width: 291px; 
        padding: 10px; 

        .season {
            text-align: center;
            margin-bottom: 6px;
        }
        .name {
            text-align: center;
            font-weight: 500; 
        }
    }
}

@media screen and (max-width: 900px) {
    .episode-card { 
        .episode-image {
            width: 215px;
            height: 114px;
        }
    
        .episode-info {
            width: 215px;
            padding: 6px; 
    
            .season {
                font-size: 14px;
                margin-bottom: 3px;
            }
            .name {
                font-size: 11px; 
            }
        }
    }
}