.actor {
    display: flex;
    align-items: center;
    gap: 10px;

    .photo {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-size: cover;
    }

    .actor-name {
        font-size: 18px;
        color: #fff;
        white-space: nowrap;
    }
}