@import "../../variables";

.header-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px 0;

    .header {
        @include container;
        background-color: transparent;

        .logo-link {
            .logo {
                width: 150px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .header-container { 
    
        .header {
            @include container-mobile ; 
    
            .logo-link {
                .logo {
                    width: 100px;
                }
            }
        }
    }
}