$main_text_color: rgb(248, 248, 248);
$main-light_text_color: rgba(238, 238, 238, 0.891);
$light_gray: #e0e0e06e;
$title_color: rgb(247, 247, 247); 
$panel_color: #181f3a;


$title:  #ffffffd1; 
$details_title:  #f2f2f2e7;
$details_text:  #e2e2e2c8;




@mixin container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 40px;
}

@mixin container-mobile { 
    padding: 0px 16px;
}

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card_panel {
    color: $main_text_color;
    background-color: $panel_color;
    margin: 15px;
    box-sizing: border-box;
}

@mixin section_title {
    color: $title_color;
    font-size: 30px;
}